.button {
  display: block;
  min-height: 40px;
  text-align: center;
  color: #ffffff;
  line-height: 20px;
  min-width: 280px;
  box-sizing: border-box;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #68b738;
  border: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}

@media (min-width: $tablet-width) {
  .button {
    min-width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    min-width: 169px;
  }
}
