.catalog__title {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ededed;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 208px;
  margin-bottom: 1px;
  padding: 0 20px 22px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.product__title {
  margin-left: 50%;
  // background-color:rgba(196, 79, 79, 0.5);
}

.product__link-title {
  display: block;
  width: 72px;
  height: 35px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}

.product__link-img {
  position: absolute;
  left: 20px;
}

.product__list {
  margin-left: 50%;
  // background-color:rgba(196, 79, 79, 0.5);

  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #444444;
}

.product__field {
  text-align: left;
}

.product__value {
  text-align: right;
}

.product__button {
  margin-top: auto;
}

.product--to-all::after {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  margin-left: -15.5px;
  top: 20px;
  left: 50%;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: center;
  opacity: 0.2;
}
