.catalog__title {
  padding-bottom: 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ededed;
}
