.catalog__title {
  padding-bottom: 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    border: none;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }
}
