@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    background-color: #f2f2f2;
  }

  .contacts--index {
    background-color: #ffffff;
  }
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include container;
  padding-top: 28px;
  padding-bottom: 25px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-top: 63px;
    padding-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: absolute;
    width: 570px;
    padding-top: 61px;
    padding-bottom: 60px;
    top: 97px;
    left: calc((100vw - 1300px) / 2 + 40px);
    background-color: #ffffff;
  }
}


.contacts__wrapper--white {
  background-color: #ffffff;
}

.contacts__cooperation {
  width: 140px;

  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .contacts__cooperation {
    width: 160px;
    margin-top: 2px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__cooperation {
    margin-left: 35px;
  }
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  columns: #444444;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    width: 170px;
    margin-right: 40px;
    text-align: right;
    font-size: 16px;

    .contacts__spb {
      display: block;
      padding-top: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    text-align: left;
    margin-right: 35px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-color: #fdf7ef;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 320px auto;
  overflow: hidden;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .contacts__map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: 768px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    iframe {
      height: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    background-size: cover;
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
