.form {
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__container {
  @include container;
}

.form__wrapper {
  margin: 0;
  padding: 0;
  border: none;
}

.form__wrapper:nth-child(1) {
  padding-bottom: 9px;
}


@media (min-width: $tablet-width) {
  .form__wrapper:nth-child(1) {
    margin: 0 40px;
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper:nth-child(1) {
    width: 570px;
    margin: 0;
    padding-bottom: 50px;
  }
}

.form__item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px 0 15px;
}

@media (min-width: $tablet-width) {
  .form__item {
    margin: 18px 0 20px;
  }
}

.form__label {
  margin-right: 15px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form__label {
    margin-right: 17px;
  }
}

.form__field {
  font: inherit;
  width: 20px;
  flex-grow: 1;
  padding: 12px 14px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  outline: none;

  &:active,
  &:focus {
    border-color: #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }

  &:active:invalid,
  &:focus:invalid {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .form__field {
    line-height: 30px;
    padding: 10px 19px;
  }
}

.form__wrapper--border {
  padding: 9px 20px;
  margin: 0 -21px;
  border: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .form__wrapper--border {
    padding: 12px 28px;
    margin: 0 40px;
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper--border {
    width: 570px;
    height: 195px;
    margin: 18px 0 auto;
    box-sizing: border-box;
  }
}

.form__radio {
  display: none;
}

.form__item-radio {
  margin: 14px 0;
}

@media (min-width: $tablet-width) {
  .form__item-radio {
    margin: 14px 0;
  }
}


.form__label-radio {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 18px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 0 0 1px #cdcdcd;
    box-sizing: border-box;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .form__label-radio {
    &::before {
      width: 38px;
      height: 38px;
      margin-right: 20px;
      border: 10px solid #ffffff;
    }
  }
}

.form__radio:checked + .form__label-radio::before {
  background-color: #68b738;
}

.form__label-radio:hover::before {
  box-shadow: 0 0 0 1px #bababa;
}

.form__title-line {
  margin: 29px 0 33px;

  @include title-line;

  .form__title {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #ffffff;
  }

  .form__title--contacts {
    width: 182px;
  }
}

@media (min-width: $tablet-width) {
  .form__title-line {
    margin: 75px 0 76px;
    padding-left: calc((100vw - 768px) / 2 + 30px);

    .form__title {
      padding-right: 40px;
      padding-left: 40px;
    }

    .form__title--contacts {
      width: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__title-line {
    margin: 0 0 76px;
    padding-left: calc((100vw - 1300px) / 2);
  }
}

@media (min-width: $tablet-width) {
  .form__item {
    &--email,
    &--tel {
      margin: 20px 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__item {
    &--email,
    &--tel {
      width: 570px;
      margin: 0;
    }
  }
}

.form__label--email {
  margin-right: 12px;
}

@media (min-width: $tablet-width) {
  .form__label--email {
    margin-right: 19px;
  }
}

.form__label--tel {
  margin-right: 10px;
}

@media (min-width: $tablet-width) {
  .form__label--tel {
    margin-right: 15px;
  }
}

.form__field-icon {
  position: absolute;

  .form__field:active + &,
  .form__field:focus + & {
    fill: #68b738;
  }

  .form__field:active:invalid + &,
  .form__field:focus:invalid + & {
    fill: #ff8282;
  }
}

.form__item--email {
  .form__field-icon {
    right: 16px;
  }
}

.form__item--tel {
  .form__field-icon {
    right: 14px;
  }
}

@media (min-width: $desktop-width) {
  .form__item--email {
    .form__field-icon {
      right: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__item--tel {
    .form__field-icon {
      right: 18px;
    }
  }
}

.form__item-comment {
  display: flex;
  flex-direction: column;
}

.form__title-line--comment {
  margin: 13px 0 18px;
}

@media (min-width: $tablet-width) {
  .form__title-line--comment {
    margin: 47px 0 56px;
  }
}

.form__comment-wrapper {
  display: flex;
  height: 150px;
}

@media (min-width: $tablet-width) {
  .form__comment-wrapper {
    height: 175px;
    margin: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .form__comment-wrapper {
    margin: 0;
    flex-grow: 1;
  }
}

.form__comment {
  flex-grow: 1;
  resize: none;
  padding: 13px;
  border: 1px solid #cdcdcd;

  font: inherit;
  text-transform: uppercase;
  color: #444444;
  outline: none;

  &:active,
  &:focus {
    border-color: #444444;
    box-shadow: inset 0 0 0 1px #444444;
  }
}

@media (min-width: $tablet-width) {
  .form__comment {
    padding-left: 17px;
  }
}

.form__title-line--add {
  margin: 29px 0 33px;
}

@media (min-width: $tablet-width) {
  .form__title-line--add {
    margin: 65px 0 43px;
  }
}

@media (min-width: $desktop-width) {
  .form__title-line--add {
    margin: 65px 0 43px;
  }
}

.form__list {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: calc((100vw - 768px) / 2 + 70px);
    padding-right: calc((100vw - 768px) / 2 + 70px);
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    padding-left: calc((100vw - 1300px) / 2 + 40px);
    padding-right: calc((100vw - 1300px) / 2 + 40px);
  }
}

.form__item-add {
  margin: 13px 0;
}

@media (min-width: $tablet-width) {
  .form__item-add {
    width: 284px;
    margin: 15px 0;
  }
}

@media (min-width: $desktop-width) {
  .form__item-add {
    width: 247px;
  }
}

.form__check {
  display: none;
}

.form__label-check {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .form__label-check {
    &::before {
      width: 40px;
      height: 40px;
      margin-right: 18px;
    }
  }
}

.form__check:checked + .form__label-check::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 21px;
}

.form__label-check:hover::before {
  border: 1px solid #bababa;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

@media (min-width: $tablet-width) {
  .form__button-wrapper {
    flex-direction: row;
    margin-top: 39px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .form__button-wrapper {
    margin-top: 45px;
    margin-bottom: 69px;
  }
}

.form__button {
  font: inherit;
}

@media (min-width: $tablet-width) {
  .form__button {
    width: 283px;
    height: 52px;
    margin-left: 40px;
    margin-right: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    width: 568px;
    margin-left: 0;
    margin-right: 83px;
  }
}

.form__note {
  margin: 20px 0 31px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  letter-spacing: normal;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form__note {
    margin: 17px 0 33px;
  }
}

@media (min-width: $desktop-width) {
  .form__note {
    font-size: 16px;
  }
}
