.logo {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffffff;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo__image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    width: 203px;
    height: 60px;
  }
}

.logo__footer {
  margin: 0 auto;
}
