.page-title {
  box-sizing: border-box;

  margin: 0;
  padding: 16px 0 27px;
  background-color: #ffffff;

  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: left;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .page-title {
    padding: 36px 0 56px;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 52px 0 56px;
  }
}
