.page-footer {
  min-height: 236px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 150px;
    padding-top: 37px;
    padding-bottom: 38px;
    box-sizing: border-box;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @include container;
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 42px;
    padding-bottom: 33px;
  }
}


@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  align-items: center;

  margin: 10px auto;
  padding-top: 29px;
  padding-bottom: 22px;
  text-align: center;
  box-sizing: border-box;
  background-color: inherit;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.page-footer__copyright {
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    padding: 9px 0 11px;
  }
}
