.page-footer {
  display: flex;
  flex-direction: column;

  @include block-padding;

  min-height: 236px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;

    @include block-padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include block-padding-desktop;
  }
}

.page-footer__logo {
  display: flex;
  align-items: center;

  margin: 10px auto;
  padding-top: 29px;
  padding-bottom: 22px;
  text-align: center;
  box-sizing: border-box;
  background-color: inherit;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin: 0;
  }
}

.page-footer__copyright {
  padding: 20px 0;
}
