.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 11px 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 7px;
  fill: #666666;
}

.social__link:hover,
.social__link:active {
  fill: #68b738;
}

.social__link:active {
  fill: #68b738;
  opacity: 0.3;
}
