.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 11px 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0 0 2px 31px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding: 0 0 4px 26px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 7px;
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .social__link {
    margin: 0 5px;
  }
}

.social__link:hover,
.social__link:active {
  fill: #68b738;
}

.social__link:active {
  fill: #68b738;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__link--vk {
    .social__link-icon {
      width: 30px;
      height: 16px;
    }
  }

  .social__link--instagram {
    margin-left: 9px;

    .social__link-icon {
      width: 23px;
      height: 23px;
    }
  }

  .social__link--fb {
    margin-left: 2px;

    .social__link-icon {
      width: 14px;
      height: 28px;
    }
  }
}
